$reel: 500px;
.machine {
	display: flex;
	align-items: center;
	overflow: hidden;
	color: #fff;

	> div {
		border: 10px solid #f89d02;
		padding: 14px 20px;
		border-radius: 20px;
		margin: 10px;
	}

	.reel {
		width: 280px;
		height: $reel;
		background-color: rgba(0,0,0,0.1);
		position: relative;
		border-radius: 20px;
		overflow: hidden;


		&::after {
			content: "";
			position: absolute;
			background-color: #ffffff2b;
			width: 90%;
			height: 2px;
			top: 50%;
			transform: translate(-50%, -50%);
			left: 50%;
		}

		.symbol {
			width: 100%;
			height: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			z-index: 100;
			transform: translateY(calc(-60% + 20px));


			img {
				width: 90%;
				height: auto;
			}
		}


			&.reel-1 {
				img {
					animation: spin 500ms cubic-bezier(.5, 0, .5, 1) ;
				}
			}

			&.reel-2 {
				img {
					animation: spin 500ms cubic-bezier(.5, 0, .5, 1) ;
				}
			}

			&.reel-3 {
				img {
					animation: spin 500ms cubic-bezier(.5, 0, .5, 1) ;
				}
		}
	}
}


@keyframes spin {
	0% {
		// transform: translateY(-100%);
		transform: translateY(-50%);
	}

	95% {
		// transform: translateY(10%);
		transform: translateY(10%);
	}

	100% {
		// transform: translateY(20%);
		transform: translateY(20%);
	}
}

@keyframes blur {
	0% {
		filter: blur(0);
	}

	5% {
		filter: blur(8px);
	}

	85% {
		filter: blur(8px);
	}

	90% {
		filter: blur(0);
	}
}